# Python sanal ortamı
venv/
.venv/
env/
__pycache__/
*.pyc
backend/venv/
__pycache__/
*.pyc

# Veri ve Modeller (İsteğe bağlı - eğer çok büyüklerse açın)
data/
*.h5
*.keras

# IDE Ayarları
.vscode/
.idea/

# Sistem dosyaları
Thumbs.db
desktop.ini

# Log dosyaları
*.log


# React
sentiment-frontend/node_modules/
sentiment-frontend/build/
.env 